.ViewFloatingCard {
  box-shadow: var(--box-shadow-view-floating-card);
  background-color: var(--color-bg-primary);
  padding: 8px 16px;
  border-radius: 1rem;
  border: 1px solid var(--color-stroke-secondary);
}
