@use 'themes/light';
@use 'variables';
@use 'reset';
@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@use 'tailwindUtilities';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  //scrollbar-color: var(--color-bg-secondary) var(--color-bg-primary);
  //scrollbar-width: thin;
}

html {
  background-color: white;
  color: var(--color-text-secondary);
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  color: var(--color-text-primary);
}
