@layer utilities {
  .scrollbar {

    &::-webkit-scrollbar {
      width: 6px;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.09);
      border-radius: 4px;
      border: 3px solid rgba(0, 0, 0, 0.01);
      transition: background-color .2s;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .icon-24px {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .icon-fill-white {
    * {
      fill: white;
    }
  }

  .icon-stroke-white {
    * {
      stroke: white;
    }
  }
}