@use '@styles/classess' as classess;

.ToolsPanel {
  @extend .ViewFloatingCard;
  display: flex;
  padding: 0 10px;
}

.ToolsBlock {
  display: flex;
  &:not(:last-child) {
    border-right: 1px solid var(--color-stroke-secondary);
    padding-right: 8px;
    margin-right: 8px;
  }
}
