.ModuleSemesterHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 6px;
  padding: 2px 4px 2px 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.Title {
  font-weight: bold;
  font-size: 12px;
  color: #60a5fa;
}
