.selectionFieldWrapper {
  position: relative;
  list-style: none;
  width: 200px;
  margin-bottom: 0.5rem;

  &.active {
    .selectionField {
      opacity: 0.2;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .selectionField:after {
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  & {
    &.insertBefore,
    &.insertAfter {
      .selectionField:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }
      .selectionField:after {
        left: -9px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }
      .selectionField:after {
        right: -7px;
      }
    }
  }
}

.selectionField {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;
  background-color: white;
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  //box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(34, 33, 81, 0.15);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1 );
  outline: none;
  appearance: none;
  border: none;
  touch-action: none;
  border-left: 4px solid;

  &:focus-visible:not(.active &) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }

  &:hover {
    .requiredIcon {
      opacity: 1;
    }

    .dragLine:before {
      opacity: 1;
    }
  }

  .dragLine {
    display: block;
    height: 85%;
    width: 10px;
    cursor: grab;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      opacity: 0;
      position: absolute;
      content: "";
      background-color: #d3d3d3;
      color: #d3d3d3;
      border-radius: 6px;
      height: 100%;
      width: 0.15em;
      z-index: 10;
      top: auto;
      bottom: auto;
      left: 4px;
      transition: .3s;
    }
  }

  .requiredIcon {
    position: absolute;
    color: #b6b6b6;
    right: 6px;
    top: 0;
    opacity: 0;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;

    &_selected {
      opacity: 1;
      color: #4c9ffe;
    }
  }
}
