.subjectCardWrapper {
  position: relative;
  list-style: none;
  width: 200px;
  height: max-content;
  margin-bottom: 0.5rem;

  &.active {
    .subjectCard {
      opacity: 0.2;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  & {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }
      .subjectCard:after {
        left: -9px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }
      .subjectCard:after {
        right: -7px;
      }
    }
  }
}

.subjectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  //height: 100%;
  cursor: pointer;
  background-color: white;
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  appearance: none;
  border: none;
  touch-action: none;
  border-left: 4px solid;
  transition: scale .2s, box-shadow .2s;

  &:focus-visible:not(.active &) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }

  &:hover {
    .requiredIcon {
      opacity: 1;
    }

    .notesIcon {
      opacity: 1;
    }

    .dragLine:before {
      opacity: 1;
    }
  }

  .dragLine {
    display: block;
    height: 85%;
    width: 10px;
    cursor: grab;
    position: absolute;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      opacity: 0;
      position: absolute;
      content: "";
      background-color: #d3d3d3;
      color: #d3d3d3;
      border-radius: 6px;
      height: 100%;
      width: 0.15em;
      z-index: 10;
      top: auto;
      bottom: auto;
      left: 4px;
      transition: .3s;
    }
  }

  .notesIcon {
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 2px;
    transition: .3s;
    margin-left: auto;

    &:hover {
      * {
        stroke: #3b3b3b;
        color: #3b3b3b;
      }
    }

    * {
      fill: none;
      stroke: #b6b6b6;
    }

    &_selected {
      opacity: 1;
    }
  }

  .requiredIcon {
    position: absolute;
    color: #b6b6b6;
    right: 6px;
    top: 0;
    opacity: 0;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      color: #3b3b3b;
    }

    &_selected {
      opacity: 1;
      color: #F90C0C;
    }
  }
}

.Subject {
  border-color: white;
}

.Practice {
  border-color: #FFCC00;
}

.StateCertification {
  border-color: #F90C0C;
}

.Elective {
  border-color: #8300B7;
}

.selected {
  scale: 1.05;
  z-index: 2;
  box-shadow: 0 2px 8px 0 rgba(3, 137, 246, 0.6);
}
