.subjectCardWrapper {
  position: relative;
  list-style: none;
  width: 200px;
  margin-bottom: 0.5rem;

  &.active {
    .subjectCard {
      opacity: 0.2;
    }
  }

  &.clone {
    .subjectCard {
      transform: translate3d(10px, 10px, 0) scale(1.025);
      animation: pop 150ms cubic-bezier(0.18, 0.67, 0.6, 1.22);
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 6px 0 rgba(34, 33, 81, 0.3);
      cursor: grabbing;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  & {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }
      .subjectCard:after {
        left: -9px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }
      .subjectCard:after {
        right: -7px;
      }
    }
  }
}

.subjectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(34, 33, 81, 0.15);
  outline: none;
  appearance: none;
  border: none;
  touch-action: none;
  cursor: grab;

  &:focus-visible:not(.active &) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: translate3d(0px, 0px, 0) scale(1);
  }
  100% {
    transform: translate3d(10px, 10px, 0) scale(1.025);
  }
}
