.subjectCardWrapper {
  position: relative;
  list-style: none;
  width: 200px;
  margin-bottom: 0.5rem;

  &.active {
    .subjectCard {
      opacity: 0.2;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        content: '';
        position: absolute;
        background-color: #4c9ffe;
      }
    }
  }

  & {
    &.insertBefore,
    &.insertAfter {
      .subjectCard:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }
    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }
      .subjectCard:after {
        left: -6px;
      }
    }
    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }
      .subjectCard:after {
        right: -7px;
      }
    }
  }
}

.subjectCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: max-content;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(34, 33, 81, 0.15);
  outline: none;
  appearance: none;
  border: none;
  touch-action: none;
  cursor: grab;
  border-left: 4px solid;

  &:focus-visible:not(.active &) {
    box-shadow: 0 0 0 2px #4c9ffe;
  }
}

.Subject {
  border-color: white;
}

.Practice {
  border-color: #FFCC00;
}

.StateCertification {
  border-color: #F90C0C;
}

.Elective {
  border-color: #8300B7;
}
