.MenuIcon {
  position: absolute;
  right: 3px;
  top: 2px;
  transition: 0.3s;
  opacity: var(--hidden-child-opacity);
  background-color: var(--color-bg-primary);
  padding: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--color-stroke-secondary);
  color: var(--color-icon-primary);

  &:hover {
    background-color: rgb(243, 243, 243);
  }
}

.Show {
  opacity: 1;
}
