.MenuIcon {
  position: absolute;
  right: 6px;
  top: 6px;
  transition: 0.3s;
  opacity: 0;
  background-color: rgb(255, 255, 255);
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

  svg {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: rgb(243, 243, 243);

    * {
      fill: #3b3b3b;
      color: #3b3b3b;
    }
  }

  * {
    fill: #545454;
    stroke: none;
  }
}

.Show {
  opacity: 1;
}
