.SeparatorLine {
  position: absolute;
  width: 100%;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    background-color: var(--color-module-stroke);
  }
}

.SelectionLine {
  @extend .SeparatorLine;
}
