.ModuleLayout {
  display: grid;
  gap: 0;
  grid-template-rows: subgrid;
  width: min-content;
  margin: 2px;
  border: 2px dashed #78716c;
  border-radius: 5px;
  background: rgba(68, 64, 60, 0.1);
}

.Selection {
  border-color: #60a5fa;
  background: rgba(96, 165, 250, 0.09);
}
