.ModuleLayout {
  position: relative;
  display: grid;
  gap: 0;
  grid-template-rows: subgrid;
  width: min-content;
  min-width: 200px;
  margin: 8px;
  border: 1px solid var(--color-module-stroke);
  border-radius: 5px;
  background: var(--color-module-background);

  --hidden-child-opacity: 0;

  &:hover {
    --hidden-child-opacity: 1;
  }
}

.Selection {
  border-style: dashed;
}

.AtomsContainer {
  display: grid;
  grid-template-rows: subgrid;
  min-width: 200px;
  width: min-content;
}
