:root {
  --color-bg-primary: #ffffff;
  --color-bg-primary-hover: rgba(224, 224, 224, 0.2);

  --color-bg-active-accent: #f4faff;

  --color-bg-semester-primary: #f5f5f4;
  --color-bg-semester-secondary: #e7e5e4;

  --color-stroke-secondary: #e9e9e9;
  --color-stroke-accent: #388be1;

  --color-icon-primary: #333333;
  --color-icon-active: #388be1;

  --color-text-primary: #000000;

  --color-error: #c40303;
  --color-bg-error: #ffeeee;

  --color-success: #08a108;
  --color-bg-success: #eeffee;

  --box-shadow-view-floating-card:
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --box-shadow-atom-card:
    0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --color-shadow-atom: rgba(2, 118, 234, 0.3);
  --color-stroke-insert-line-atom: #4c9ffe;

  --color-bg-atom-practice: #fffcf7;
  --color-stroke-atom-practice: #ffcc00;
  --color-shadow-atom-practice: rgba(145, 116, 0, 0.3);
  --color-text-atom-practice: #805901;

  --color-bg-atom-attestation: #fff8f8;
  --color-stroke-atom-attestation: #f90c0c;
  --color-shadow-atom-attestation: rgba(131, 0, 0, 0.3);
  --color-text-atom-attestation: #8c1414;

  --color-bg-atom-elective: #fcf9ff;
  --color-stroke-atom-elective: #b104ff;
  --color-shadow-atom-elective: rgba(78, 0, 114, 0.3);
  --color-text-atom-elective: #430060;
}
