[data-theme="light"] {
  --color-bg-primary: #ffffff;
  --color-bg-primary-hover: #e5e4e4;
  --color-bg-secondary: #cbcbcb;
  --color-bg-primary-ghost: rgba(14, 156, 162, 0.14);

  --color-text-primary: #000000;
  --color-text-secondary: #525252;
  --color-text-accent: #3FBAC2;

  --color-icon-primary: #000000;
  --color-icon-secondary: #525252;
  --color-icon-accent: #3FBAC2;

  --color-stroke-primary: #3FBAC2;
  --color-stroke-secondary: #dadada;

  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

  --color-error: #d32e2e;
  --color-error-bg: rgba(211, 46, 46, 0.2);
}
