.AtomCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  cursor: pointer;
  background-color: var(--color-bg-primary);
  border-radius: 4px;
  padding: 10px;
  box-shadow: var(--box-shadow-atom-card);
  outline: none;
  appearance: none;
  border-left: 4px solid transparent;
  transition:
    scale 0.2s,
    box-shadow 0.2s,
    background-color 0.2s;

  --hidden-child-opacity: 0;

  &:hover {
    --hidden-child-opacity: 1;
  }
}

.Title {
  color: var(--color-text-primary);
  font-size: 12px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  min-height: 36px;
  cursor: text;

  transition: background-color 0.2s;
  padding: 3px 6px;
  margin: -3px -6px;
  border-radius: 8px;

  &:hover {
    background-color: var(--color-bg-primary-hover);
  }
}

.Subject {
  border-color: transparent;
  --atom-card-shadow-color: var(--color-shadow-atom);
}

.Practice {
  border-color: var(--color-stroke-atom-practice);
  background-color: var(--color-bg-atom-practice);
  --atom-card-shadow-color: var(--color-shadow-atom-practice);

  .Title {
    color: var(--color-text-atom-practice);
  }
}

.Attestation {
  border-color: var(--color-stroke-atom-attestation);
  background-color: var(--color-bg-atom-attestation);
  --atom-card-shadow-color: var(--color-shadow-atom-attestation);

  .Title {
    color: var(--color-text-atom-attestation);
  }
}

.Elective {
  border-color: var(--color-stroke-atom-elective);
  background-color: var(--color-bg-atom-elective);
  --atom-card-shadow-color: var(--color-shadow-atom-elective);

  .Title {
    color: var(--color-text-atom-elective);
  }
}

.Selected {
  scale: 1.05;
  z-index: 2;
  box-shadow:
    0 4px 6px -1px var(--atom-card-shadow-color),
    0 2px 4px -1px var(--atom-card-shadow-color);
}

.DraggableWrapper {
  list-style: none;
  height: max-content;

  &.active {
    .AtomCard {
      opacity: 0.2;
    }
  }

  &:not(.active, .clone) {
    &.insertBefore,
    &.insertAfter {
      .AtomCard:after {
        content: '';
        position: absolute;
        background-color: var(--color-stroke-insert-line-atom);
      }
    }
  }

  & {
    &.insertBefore,
    &.insertAfter {
      .AtomCard:after {
        top: 0;
        bottom: 0;
        width: 2px;
      }
    }

    &.insertBefore {
      &.clone {
        margin-left: -75px;
      }

      .AtomCard:after {
        left: -9px;
      }
    }

    &.insertAfter {
      &.clone {
        margin-left: 75px;
      }

      .AtomCard:after {
        right: -7px;
      }
    }
  }
}
