.ModuleHeader {
  text-align: center;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  border-radius: 5px 5px 0 0;
  padding: 2px 4px 0 4px;
  border: 1px solid var(--color-module-stroke);
}

.Icon {
  position: absolute;
  color: var(--color-module-text);
}

.Title {
  cursor: text;
  font-size: 14px;
  font-weight: bold;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: var(--color-module-text);

  &:hover {
    background-color: var(--color-bg-primary-hover);
  }
}

.Selection {
  .Title {
    padding-left: 22px;
  }
}
