.ModuleSemesterCell {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
  width: 100%;
  height: 100%;
  position: relative;
}

.AtomsContainer {
  display: grid;
  gap: 6px;
}

.SeparatorLine {
  &:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: #78716c;
  }
}

.Selection {
  @extend .SeparatorLine;
  &:after {
    background-color: #60a5fa;
  }
}

.CreateMode {
  &:hover {
    background-color: rgba(96, 165, 250, 0.3);
    cursor: pointer;
  }
}

.Over {
  background-color: rgba(96, 165, 250, 0.3);
}
