.ModuleSemesterCell {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 60px 6px 6px 6px;
}

.AtomsContainer {
  display: grid;
  gap: 6px;
}

.CreateMode {
  &:hover {
    background-color: rgba(96, 165, 250, 0.3);
    cursor: pointer;
  }
}

.Over {
  background-color: rgba(96, 165, 250, 0.3);
}
