
.tableContainer
  display: flex
  flex-direction: column
  padding-top: 60px

.table
  border-collapse: collapse
  width: 100%
  border-bottom: 1px solid var(--color-stroke-secondary)
  position: relative
  background-color: #fafafa

  thead
    position: sticky
    top: 60px
    box-shadow: 0 4px 4px 0 rgba(121, 121, 121, 0.1)
    z-index: 10

  th
    color: #525252
    background: rgba(255, 255, 255, 1)
    border-right: 1px solid lightgrey
    font-size: 14px
    font-weight: normal
    padding: 3px
    vertical-align: middle
    word-break: break-all

    &:hover
      border-color: #3FBAC2

    &:nth-child(4)
      position: sticky
      left: 0

    &:last-child
      border-right: none

  tr
    border-top: 1px solid lightgrey
    border-bottom: 1px solid lightgrey
    color: var(--color-text-secondary)
    font-size: 12px !important
    font-weight: normal

    &:hover
      border-color: #3FBAC2

    &:hover
      td
        color: black

    &:first-child
      border-top: none

    &:last-child
      border-bottom: none

  td
    overflow: hidden
    padding: 3px
    font-size: 12px !important
    border-right: 1px solid lightgrey

    &:hover
      border-color: #3FBAC2

    &:nth-child(4)
      position: sticky
      left: 0
      background: white
      text-align: start

    &:last-child
      border-right: 0



.highlighted
  border-color: #3FBAC2 !important

.moduleRow
  background-color: #efefef !important

  td
    &:nth-child(4)
      background: #f1f1f1
      font-weight: bold


.textLeft
  text-align: left

.textCenter
  text-align: center

.textRight
  text-align: right