.SemesterContainer {
  grid-column: 1;
  position: relative;
  width: 1100px;

  &:nth-child(2n) {
    .Background {
      background-color: var(--color-bg-semester-secondary);
      border-color: var(--color-bg-semester-secondary);
    }
  }
}

.AtomsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.Over {
  .Background {
    border-color: var(--color-stroke-accent);
  }

  &:nth-child(2n) {
    .Background {
      border-color: var(--color-stroke-accent);
    }
  }
}

.Background {
  border: 2px dashed var(--color-bg-semester-primary);
  background-color: var(--color-bg-semester-primary);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--plan-view-width);
  height: 100%;
  z-index: -1;
  pointer-events: none;
  border-radius: 24px;
}
