.SemesterContainer {
  grid-column: 1;
  position: relative;
  width: 1100px;

  &:nth-child(2n) {
    .Background {
      background-color: #e7e5e4;
      border-color: #e7e5e4;
    }
  }
}

.AtomsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.Over {
  .Background {
    border-color: #60a5fa;
  }

  &:nth-child(2n) {
    .Background {
      border-color: #60a5fa;
    }
  }
}

.Background {
  border: 2px dashed #f5f5f4;
  background-color: #f5f5f4;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--plan-view-width);
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
