name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Docker compose down
        run: sudo docker compose down

      - name: Docker compose up with build
        run: sudo docker compose up -d --build

      - name: Cleanup docker
        run: docker system prune -a -f
