name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
        
      # - name: Node install
      #   run: |
      #     curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
      #     sudo apt-get install -y nodejs

      - name: Installing dependencies
        run: npm install

      - name: Run
        run: npm run dev --host
